@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
    font-size: 16px;
    color: $color-text-primary;
}

a{
    text-decoration: none;
    color: $color-item;
}

h1{
    font-size: 48px;
}

h1, h2, h3, h4, h5, h6{
    color: $color-title;
}

.wrapper {
    margin: 0 auto;
    max-width: $wrapper-width;
}

.clearfix{
    clear: both;
}