$color-white: #fff;
$color-black: #000;
$color-gray: #EEEFF1;
$color-primary: #34547A;
$color-active: $color-primary;
$color-text-primary: #727272;
$color-title: $color-black;
$color-item: $color-black;

$color-botton-primary: $color-primary;
$color-botton-primary-active: #1f4068;
$color-botton-text: $color-white; 

$font-medium: 500;
$font-regular: 400;

$wrapper-width: 1100px;

$mobile: 576px;
$tablet: 768px; 