.first{
    background-color: $color-gray;
    padding: 77px 0 140px;
    .wrapper{
        @include elementCentered;
    }
    
    &__img{
        flex: 1 1 50%;
        padding-top: 20px;
        @include elementCentered;
    }
    &__info{
        flex: 1 0 50%;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 60px;
    }
}
.first{
    @media (max-width: $tablet){
        padding: 40px 0 40px;
        .wrapper{
            flex-direction: column;
            row-gap: 40px;
        }
        &__img{
            padding-top: 0;
        }
        &__info{
            padding-right: 0;
            justify-content: center;
            align-items: center;
            row-gap: 36px;
            text-align: center;
        }
    }
}