/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  padding: 0 40px;
  letter-spacing: 0.1em;
  background-color: #34547A;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}
.button:hover {
  background-color: #1f4068;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  color: #727272;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
}

.content {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

.wrapper {
  margin: 0 auto;
  width: calc(100% - 60px);
  max-width: 1100px;
}
@media (max-width: 576px) {
  .wrapper {
    width: calc(100% - 30px);
  }
}

.clearfix {
  clear: both;
}

.header {
  background-color: #EEEFF1;
  padding: 72px 0;
  flex: 0 0 auto;
}
.header__logo {
  float: left;
  width: 85px;
  display: block;
}
.header__logo img {
  width: 100%;
}
.header__nav {
  float: right;
}
.header__nav ul {
  list-style: none;
}
.header__nav li {
  float: left;
  margin-right: 42px;
}
.header__nav li:last-of-type {
  margin-right: 0;
}
.header__item {
  text-transform: uppercase;
  transition: 0.3s;
  line-height: 38px;
}
.header__item:hover {
  color: #34547A;
}
.header__item_active {
  color: #34547A;
  font-weight: 500;
}

@media (max-width: 768px) {
  .header {
    padding: 36px 0;
  }
  .header__logo, .header__nav {
    float: none;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__nav {
    width: max-content;
    margin: 0 auto;
    margin-top: 16px;
  }
  .header__nav li {
    margin-right: 36px;
  }
}
@media (max-width: 576px) {
  .header__nav li {
    float: none;
    margin-right: 0;
    text-align: center;
  }
}

.first {
  background-color: #EEEFF1;
  padding: 77px 0 140px;
}
.first .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first__img {
  flex: 1 1 50%;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first__info {
  flex: 1 0 50%;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 60px;
}

@media (max-width: 768px) {
  .first {
    padding: 40px 0 40px;
  }
  .first .wrapper {
    flex-direction: column;
    row-gap: 40px;
  }
  .first__img {
    padding-top: 0;
  }
  .first__info {
    padding-right: 0;
    justify-content: center;
    align-items: center;
    row-gap: 36px;
    text-align: center;
  }
}

.about {
  padding: 100px 0;
}
.about_gray {
  background-color: #EEEFF1;
}
.about .wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 57px;
}
.about__text {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 100%;
  max-width: 540px;
  row-gap: 50px;
}
.about__video {
  width: 100%;
}

@media (max-width: 576px) {
  .about {
    padding: 50px 0;
  }
  .about .wrapper {
    row-gap: 40px;
  }
  .about__text {
    row-gap: 20px;
  }
}

.cards {
  background-color: #34547A;
  padding: 100px 0;
}
.cards .wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 576px) {
  .cards {
    padding: 50px 0;
  }
  .cards .wrapper {
    justify-content: center;
  }
}

.card {
  display: flex;
  column-gap: 20px;
}
.card__text {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  color: #fff;
}
.card__icon {
  width: 50px;
}
.card__icon img {
  width: 100%;
}
.card__number {
  font-size: 21px;
}
.card__title {
  font-size: 16px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.gallery__item {
  aspect-ratio: 1/1;
  position: relative;
}
.gallery__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item:before, .gallery__item:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 1s;
}
.gallery__item:before {
  background-color: rgba(52, 84, 122, 0.8);
}
.gallery__item:after {
  background-image: url(../img/glaz.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.gallery__item:hover:before, .gallery__item:hover:after {
  opacity: 1;
}

.footer {
  background-color: #34547A;
  height: 50px;
  flex: 0 0 auto;
}

/*# sourceMappingURL=main.css.map */
